In [11]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('../Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

In [42]:
df.shape

(2266, 12)

In [43]:
df['price.numberDouble'] = df['price.numberDouble'].map(str)

In [44]:
df.dtypes

amazon_product_url             object
author                         object
description                    object
publisher                      object
title                          object
oid                            object
bestsellers_date.numberLong    object
published_date.numberLong       int64
rank.numberInt                 object
rank_last_week.numberInt        int64
weeks_on_list.numberInt         int64
price.numberDouble             object
dtype: object

In [45]:
df['price.numberDouble'].astype(float)

0       25.99
1       24.95
2       22.95
3       24.95
5       26.95
        ...
3027    26.95
3028    27.95
3029    27.95
3030    26.95
3031    28.99
Name: price.numberDouble, Length: 2266, dtype: float64

In [46]:
df['price.numberDouble'] = df['price.numberDouble'].astype(float)

In [47]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [48]:
diccionario_casting = {
    'rank_last_week.numberInt': int,
    'weeks_on_list.numberInt': int,
    'price.numberDouble': float
}

In [49]:
df = df.astype(diccionario_casting)

In [50]:
df

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95
...,...,...,...,...,...,...,...,...,...,...,...,...
3027,http://www.amazon.com/Unintended-Consequences-...,Stuart Woods,Descr: The New York lawyer Stone Barrington di...,Putnam,UNINTENDED CONSEQUENCES,5b4aa4ead3089013507dc592,2013-04-20 00:00:00,1367712000000,8,4,2,26.95
3028,http://www.amazon.com/Six-Years-Harlan-Coben/d...,Harlan Coben,Descr: Jake Fisher discovers that neither the ...,Dutton,SIX YEARS,5b4aa4ead3089013507dc593,2013-04-20 00:00:00,1367712000000,9,8,5,27.95
3029,http://www.amazon.com/The-Interestings-Novel-M...,Meg Wolitzer,Descr: Six friends meet in the 1970s at a summ...,Riverhead,THE INTERESTINGS,5b4aa4ead3089013507dc595,2013-04-20 00:00:00,1367712000000,11,11,2,27.95
3030,http://www.amazon.com/Man-Without-Breath-Berni...,Philip Kerr,"Descr: Bernie Gunther, the Berlin cop, is sent...",Marian Wood/Putnam,A MAN WITHOUT BREATH,5b4aa4ead3089013507dc597,2013-04-20 00:00:00,1367712000000,13,0,1,26.95
3031,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc598,2013-04-20 00:00:00,1367712000000,14,10,8,28.99

In [51]:
df['rank.numberInt'].astype(int)

ValueError: invalid literal for int() with base 10: 'No Rank'

In [52]:
df[df['rank.numberInt'] == 'No Rank']

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
13,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db1a0,2008-05-31 00:00:00,1213488000000,No Rank,2,4,25.99
72,http://www.amazon.com/The-Broken-Window-Lincol...,Jeffery Deaver,Descr: Detectives Lincoln Rhyme and Amelia Sac...,Simon & Schuster,THE BROKEN WINDOW,5b4aa4ead3089013507db1fa,2008-06-28 00:00:00,1215907200000,No Rank,8,3,26.95
133,http://www.amazon.com/Fearless-Fourteen-Janet-...,Janet Evanovich,Descr: Stephanie Plum and her boyfriend Joe Mo...,St. Martin’s,FEARLESS FOURTEEN,5b4aa4ead3089013507db25e,2008-08-02 00:00:00,1218931200000,No Rank,9,7,27.95
154,http://www.amazon.com/The-Mercedes-Coffin-Deck...,Faye Kellerman,Descr: Decker and Lazarus investigate cases of...,Morrow,THE MERCEDES COFFIN,5b4aa4ead3089013507db282,2008-08-16 00:00:00,1220140800000,No Rank,0,1,25.95
158,http://www.amazon.com/Foreign-Body-Robin-Cook/...,Robin Cook,Descr: A medical student investigates a rising...,Putnam,FOREIGN BODY,5b4aa4ead3089013507db287,2008-08-16 00:00:00,1220140800000,No Rank,9,2,25.95
...,...,...,...,...,...,...,...,...,...,...,...,...
2920,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Descr: Fifty-some years in the life of an Afri...,Knopf,THE TWELVE TRIBES OF HATTIE,5b4aa4ead3089013507dc4cb,2013-02-09 00:00:00,1361664000000,No Rank,14,9,24.95
2942,http://www.amazon.com/The-Sound-Broken-Glass-K...,Deborah Crombie,"Descr: Detectives Gemma Jones and her husband,...",Morrow/HarperCollins,THE SOUND OF BROKEN GLASS,5b4aa4ead3089013507dc4f3,2013-02-23 00:00:00,1362873600000,No Rank,0,1,25.99
2952,http://www.amazon.com/A-Week-Winter-Maeve-Binc...,Maeve Binchy,Descr: Guests at an inn by the sea on Ireland’...,Knopf,A WEEK IN WINTER,5b4aa4ead3089013507dc503,2013-03-02 00:00:00,1363478400000,No Rank,2,3,26.95
2961,http://www.amazon.com/The-Storyteller-Jodi-Pic...,Jodi Picoult,Descr: A New Hampshire baker finds herself in ...,Emily Bestler/Atria,THE STORYTELLER,5b4aa4ead3089013507dc515,2013-03-09 00:00:00,1364083200000,No Rank,2,2,28.99
3021,http://www.amazon.com/Alex-Cross-Run-James-Pat...,James Patterson,Descr: While Alex Cross pursues a Washington s...,"Little, Brown","ALEX CROSS, RUN",5b4aa4ead3089013507dc586,2013-04-13 00:00:00,1367107200000,No Rank,11,8,28.99

In [53]:
pd.to_numeric(df['rank.numberInt'])

ValueError: Unable to parse string "No Rank" at position 11

In [54]:
df['rank.numberInt'] = pd.to_numeric(df['rank.numberInt'], errors='coerce')

In [55]:
df.shape

(2266, 12)

In [56]:
df = df.dropna(axis=0)

In [57]:
df = df.reset_index(drop=True)

In [58]:
df['rank.numberInt'] = df['rank.numberInt'].astype(int)

In [59]:
df.dtypes

amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                   int64
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [64]:
pd.to_datetime(df['published_date.numberLong'], unit='ms')

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
4      2008-06-08
          ...
2041   2013-05-05
2042   2013-05-05
2043   2013-05-05
2044   2013-05-05
2045   2013-05-05
Name: published_date.numberLong, Length: 2046, dtype: datetime64[ns]

In [61]:
pd.to_datetime(df['bestsellers_date.numberLong'])

0      2008-05-24
1      2008-05-24
2      2008-05-24
3      2008-05-24
4      2008-05-24
          ...
2041   2013-04-20
2042   2013-04-20
2043   2013-04-20
2044   2013-04-20
2045   2013-04-20
Name: bestsellers_date.numberLong, Length: 2046, dtype: datetime64[ns]

In [65]:
df['bestsellers_date.numberLong'] = pd.to_datetime(df['bestsellers_date.numberLong'])
df['published_date.numberLong'] = pd.to_datetime(df['published_date.numberLong'], unit='ms')

df.dtypes

amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                          int64
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [69]:
diccionario_renombramiento = {
    'bestsellers_date.numberLong': 'bestsellers_date',
    'published_date.numberLong': 'published_date',
    'rank.numberInt': 'rank',
    'rank_last_week.numberInt': 'rank_last_week',
    'weeks_on_list.numberInt': 'weeks_on_list',
    'price.numberDouble': 'price'
}

df = df.rename(columns=diccionario_renombramiento)

In [70]:
df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95
4,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95

In [71]:
df['description']

0       Descr: Aliens have taken control of the minds ...
1       Descr: A woman's happy marriage is shaken when...
2       Descr: A Massachusetts state investigator and ...
3       Descr: An aging porn queens aims to cap her ca...
4       Descr: The Minneapolis detective Lucas Davenpo...
                              ...
2041    Descr: The New York lawyer Stone Barrington di...
2042    Descr: Jake Fisher discovers that neither the ...
2043    Descr: Six friends meet in the 1970s at a summ...
2044    Descr: Bernie Gunther, the Berlin cop, is sent...
2045    Descr: A New Hampshire baker finds herself in ...
Name: description, Length: 2046, dtype: object

In [74]:
df['description'] = df['description'].str.replace('Descr:', '')

In [75]:
df.loc[0, 'description']

' Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.     '

In [77]:
df['description'] = df['description'].str.strip()

In [78]:
df.loc[0, 'description']

'Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.'

In [82]:
df['title'] = df['title'].str.title()

In [83]:
df['title']

0                       The Host
1       Love The One You'Re With
2                      The Front
3                          Snuff
4                   Phantom Prey
                  ...
2041     Unintended Consequences
2042                   Six Years
2043            The Interestings
2044        A Man Without Breath
2045             The Storyteller
Name: title, Length: 2046, dtype: object

In [89]:
df[['author_first_name', 'author_last_name']] = df['author'].str.split('\s', expand=True)

In [90]:
df.columns

Index(['amazon_product_url', 'author', 'description', 'publisher', 'title',
       'oid', 'bestsellers_date', 'published_date', 'rank', 'rank_last_week',
       'weeks_on_list', 'price', 'author_first_name', 'author_last_name'],
      dtype='object')

In [91]:
df = df[['amazon_product_url', 'author', 'author_first_name', 'author_last_name', 'description', 'publisher', 'title',
       'oid', 'bestsellers_date', 'published_date', 'rank', 'rank_last_week',
       'weeks_on_list', 'price']]

In [92]:
df.head()

,amazon_product_url,author,author_first_name,author_last_name,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Stephenie,Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",The Host,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Emily,Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,Love The One You'Re With,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Patricia,Cornwell,A Massachusetts state investigator and his tea...,Putnam,The Front,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Chuck,Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,Snuff,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,5,0,1,24.95
4,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,John,Sandford,The Minneapolis detective Lucas Davenport inve...,Putnam,Phantom Prey,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,7,4,3,26.95

In [94]:
df['rank'].unique()

array([ 2,  3,  4,  5,  7,  8,  9, 10, 12, 13, 14,  6, 11, 15,  1, 16])

In [96]:
int_a_letra = {
    1: 'a',
    2: 'b',
    3: 'c',
    4: 'd',
    5: 'e',
    6: 'f',
    7: 'g',
    8: 'h',
    9: 'i',
    10: 'j',
    11: 'k',
    12: 'l',
    13: 'm',
    14: 'n',
    15: 'o',
    16: 'p'
}

In [98]:
df['rank'].map(int_a_letra).head(20)

0     b
1     c
2     d
3     e
4     g
5     h
6     i
7     j
8     l
9     m
10    n
11    d
12    f
13    g
14    h
15    i
16    j
17    k
18    l
19    m
Name: rank, dtype: object

In [105]:
def funcion_int_a_letra(int_):
    if int_ == 1: return 'a'
    elif int_ == 2: return 'b'
    elif int_ == 3: return 'c'
    elif int_ == 4: return 'd'
    elif int_ == 5: return 'e'
    elif int_ == 6: return 'f'
    elif int_ == 7: return 'g'
    elif int_ == 8: return 'h'
    elif int_ == 9: return 'i'
    elif int_ == 10: return 'j'
    elif int_ == 11: return 'k'
    elif int_ == 12: return 'l'
    elif int_ == 13: return 'm'
    elif int_ == 14: return 'n' 
    elif int_ == 15: return 'o'
    elif int_ == 16: return 'p'

In [107]:
df['rank'] = df['rank'].map(funcion_int_a_letra)

In [108]:
df.head()

,amazon_product_url,author,author_first_name,author_last_name,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Stephenie,Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",The Host,5b4aa4ead3089013507db18c,2008-05-24,2008-06-08,b,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Emily,Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,Love The One You'Re With,5b4aa4ead3089013507db18d,2008-05-24,2008-06-08,c,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Patricia,Cornwell,A Massachusetts state investigator and his tea...,Putnam,The Front,5b4aa4ead3089013507db18e,2008-05-24,2008-06-08,d,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Chuck,Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,Snuff,5b4aa4ead3089013507db18f,2008-05-24,2008-06-08,e,0,1,24.95
4,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,John,Sandford,The Minneapolis detective Lucas Davenport inve...,Putnam,Phantom Prey,5b4aa4ead3089013507db191,2008-05-24,2008-06-08,g,4,3,26.95

In [117]:
df.apply(lambda x: x['oid'] + x['author'], axis=1)

0         5b4aa4ead3089013507db18cStephenie Meyer
1            5b4aa4ead3089013507db18dEmily Giffin
2       5b4aa4ead3089013507db18ePatricia Cornwell
3         5b4aa4ead3089013507db18fChuck Palahniuk
4           5b4aa4ead3089013507db191John Sandford
                          ...
2041         5b4aa4ead3089013507dc592Stuart Woods
2042         5b4aa4ead3089013507dc593Harlan Coben
2043         5b4aa4ead3089013507dc595Meg Wolitzer
2044          5b4aa4ead3089013507dc597Philip Kerr
2045         5b4aa4ead3089013507dc598Jodi Picoult
Length: 2046, dtype: object

In [201]:
import re

regex_to_find_women = re.compile('(^wom[(a|e)]n\s|\swom[(a|e)]n\s|\swom[(a|e)]n\.)', flags=re.IGNORECASE)
regex_to_find_men = re.compile('(^m[(a|e)]n\s|\sm[(a|e)]n\s|\sm[(a|e)]n\.)', flags=re.IGNORECASE)

In [204]:
def return_gender_in_description(value):

    women_found = False
    men_found = False
    
    if len(regex_to_find_women.findall(value)) > 0:
        women_found = True
    
    if len(regex_to_find_men.findall(value)) > 0:
        men_found = True
        
    if women_found and men_found:
        return 'Both'
    elif women_found:
        return 'Women'
    elif men_found:
        return 'Men'
    else:
        return 'Neither'

In [205]:
df_copy = df.copy()

In [214]:
df['description'].apply(return_gender_in_description)

0         Women
1       Neither
2       Neither
3           Men
4       Neither
         ...
2041    Neither
2042      Women
2043    Neither
2044    Neither
2045    Neither
Name: description, Length: 2046, dtype: object

In [215]:
df['gender_in_description'] = df['description'].apply(return_gender_in_description)

In [216]:
df_copy[df_copy['gender_in_description'] == 'Both']

,amazon_product_url,author,author_first_name,author_last_name,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,gender_in_description
1308,http://www.amazon.com/The-Priests-Graveyard-Te...,Ted Dekker,Ted,Dekker,A priest and a young woman cross paths as they...,Center Street,The Priest'S Graveyard,5b4aa4ead3089013507dbd73,2011-04-23,2011-05-08,i,0,1,24.99,Both
1496,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dbf5f,2011-10-15,2011-10-30,a,0,1,25.99,Both
1517,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dbf89,2011-10-29,2011-11-13,c,1,3,25.99,Both
1532,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dbfb2,2011-11-12,2011-11-27,d,3,5,25.99,Both
1539,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dbfc8,2011-11-19,2011-12-04,f,4,6,25.99,Both
1547,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dbfdd,2011-11-26,2011-12-11,g,6,7,25.99,Both
1553,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dbff0,2011-12-03,2011-12-18,f,7,8,25.99,Both
1561,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc006,2011-12-10,2011-12-25,h,6,9,25.99,Both
1568,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc018,2011-12-17,2012-01-01,f,8,10,25.99,Both
1582,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc041,2011-12-31,2012-01-15,g,6,12,25.99,Both
1586,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc057,2012-01-07,2012-01-22,i,7,13,25.99,Both
1602,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc084,2012-01-21,2012-02-05,n,14,15,25.99,Both
1609,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc099,2012-01-28,2012-02-12,o,14,16,25.99,Both
1618,http://www.amazon.com/The-Best-Me-Nicholas-Spa...,Nicholas Sparks,Nicholas,Sparks,Twenty-five years after their high school roma...,Grand Central,The Best Of Me,5b4aa4ead3089013507dc0ac,2012-02-04,2012-02-19,n,15,17,25.99,Both
1654,http://www.amazon.com/Another-Piece-Heart-Jane...,Jane Green,Jane,Green,A woman in her late 30s marries the man of her...,St. Martin’s,Another Piece Of My Heart,5b4aa4ead3089013507dc126,2012-03-17,2012-04-01,p,0,1,25.99,Both

In [217]:
df_copy.loc[1308, 'description']

'A priest and a young woman cross paths as they seek to bring a powerful man to justice.'

In [219]:
filtro_both = df_copy['gender_in_description'] == 'Both'

In [221]:
df[filtro_both].count()

amazon_product_url       15
author                   15
author_first_name        15
author_last_name         15
description              15
publisher                15
title                    15
oid                      15
bestsellers_date         15
published_date           15
rank                     15
rank_last_week           15
weeks_on_list            15
price                    15
gender_in_description    15
dtype: int64

In [222]:
df[df['author_first_name'].str.startswith('A')]

,amazon_product_url,author,author_first_name,author_last_name,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,gender_in_description
109,http://www.amazon.com/The-Gargoyle-Andrew-Davi...,Andrew Davidson,Andrew,Davidson,A hideously burned man is cared for by a sculp...,Doubleday,The Gargoyle,5b4aa4ead3089013507db274,2008-08-09,2008-08-24,n,0,1,25.95,Men
119,http://www.amazon.com/The-Gargoyle-Andrew-Davi...,Andrew Davidson,Andrew,Davidson,A hideously burned man is cared for by a sculp...,Doubleday,The Gargoyle,5b4aa4ead3089013507db28a,2008-08-16,2008-08-31,p,14,2,25.95,Men
126,http://www.amazon.com/The-Gargoyle-Andrew-Davi...,Andrew Davidson,Andrew,Davidson,A hideously burned man is cared for by a sculp...,Doubleday,The Gargoyle,5b4aa4ead3089013507db29b,2008-08-23,2008-09-07,m,16,3,25.95,Men
202,http://www.amazon.com/Testimony-A-Novel-Anita-...,Anita Shreve,Anita,Shreve,A sex scandal at a Vermont prep school is caug...,"Little, Brown",Testimony,5b4aa4ead3089013507db34a,2008-10-25,2008-11-09,h,0,1,25.99,Neither
211,http://www.amazon.com/Testimony-A-Novel-Anita-...,Anita Shreve,Anita,Shreve,A sex scandal at a Vermont prep school is caug...,"Little, Brown",Testimony,5b4aa4ead3089013507db35f,2008-11-01,2008-11-16,i,8,2,25.99,Neither
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Ayana,Mathis,Fifty-some years in the life of an African-Ame...,Knopf,The Twelve Tribes Of Hattie,5b4aa4ead3089013507dc48e,2013-01-19,2013-02-03,h,7,6,24.95,Neither
1958,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Ayana,Mathis,Fifty-some years in the life of an African-Ame...,Knopf,The Twelve Tribes Of Hattie,5b4aa4ead3089013507dc4a4,2013-01-26,2013-02-10,j,8,7,24.95,Neither
1969,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Ayana,Mathis,Fifty-some years in the life of an African-Ame...,Knopf,The Twelve Tribes Of Hattie,5b4aa4ead3089013507dc4bc,2013-02-02,2013-02-17,n,10,8,24.95,Neither
1982,http://www.amazon.com/Night-Ranger-John-Wells-...,Alex Berenson,Alex,Berenson,The former C.I.A. operative John Wells pitches...,Putnam,The Night Ranger,5b4aa4ead3089013507dc4e0,2013-02-16,2013-03-03,j,0,1,27.95,Neither
1985,http://www.amazon.com/Twelve-Digital-Edition-V...,Ayana Mathis,Ayana,Mathis,Fifty-some years in the life of an African-Ame...,Knopf,The Twelve Tribes Of Hattie,5b4aa4ead3089013507dc4e4,2013-02-16,2013-03-03,n,9,10,24.95,Neither

In [228]:
df[df['price'] > 20].sort_values('price', ascending=False)

,amazon_product_url,author,author_first_name,author_last_name,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,gender_in_description
1548,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,Haruki,Murakami,"In 1980s Tokyo, a woman who punishes perpetrat...",Knopf,1Q84,5b4aa4ead3089013507dbfe2,2011-11-26,2011-12-11,l,10,5,30.50,Women
1578,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,Haruki,Murakami,"In 1980s Tokyo, a woman who punishes perpetrat...",Knopf,1Q84,5b4aa4ead3089013507dc032,2011-12-24,2012-01-08,l,12,9,30.50,Women
1564,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,Haruki,Murakami,"In 1980s Tokyo, a woman who punishes perpetrat...",Knopf,1Q84,5b4aa4ead3089013507dc00b,2011-12-10,2011-12-25,m,11,7,30.50,Women
1541,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,Haruki,Murakami,"In 1980s Tokyo, a woman who punishes perpetrat...",Knopf,1Q84,5b4aa4ead3089013507dbfcc,2011-11-19,2011-12-04,j,6,4,30.50,Women
1571,http://www.amazon.com/1Q84-Haruki-Murakami-ebo...,Haruki Murakami,Haruki,Murakami,"In 1980s Tokyo, a woman who punishes perpetrat...",Knopf,1Q84,5b4aa4ead3089013507dc01e,2011-12-17,2012-01-01,l,13,8,30.50,Women
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1092,http://www.amazon.com/Squirrel-Seeks-Chipmunk-...,David Sedaris,David,Sedaris,The humorist looks at human nature through sto...,"Little, Brown",Squirrel Seeks Chipmunk,5b4aa4ead3089013507dbb6b,2010-10-24,2010-11-07,i,8,4,21.99,Neither
1063,http://www.amazon.com/Squirrel-Seeks-Chipmunk-...,David Sedaris,David,Sedaris,The humorist looks at human nature through sto...,Little Brown,Squirrel Seeks Chipmunk,5b4aa4ead3089013507dbb2b,2010-10-03,2010-10-17,e,0,1,21.99,Neither
1075,http://www.amazon.com/Squirrel-Seeks-Chipmunk-...,David Sedaris,David,Sedaris,The humorist looks at human nature through sto...,"Little, Brown",Squirrel Seeks Chipmunk,5b4aa4ead3089013507dbb40,2010-10-10,2010-10-24,f,5,2,21.99,Neither
1084,http://www.amazon.com/Squirrel-Seeks-Chipmunk-...,David Sedaris,David,Sedaris,The humorist looks at human nature through sto...,"Little, Brown",Squirrel Seeks Chipmunk,5b4aa4ead3089013507dbb56,2010-10-17,2010-10-31,h,6,3,21.99,Neither
1149,http://www.amazon.com/Squirrel-Seeks-Chipmunk-...,David Sedaris,David,Sedaris,The humorist looks at human nature through sto...,"Little, Brown",Squirrel Seeks Chipmunk,5b4aa4ead3089013507dbbe3,2010-12-05,2010-12-19,i,13,10,21.99,Neither

In [230]:
df.sort_values('weeks_on_list', ascending=False).head()

,amazon_product_url,author,author_first_name,author_last_name,description,publisher,title,oid,bestsellers_date,published_date,rank,rank_last_week,weeks_on_list,price,gender_in_description
1459,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Kathryn,Stockett,A young white woman and two black maids in 196...,Amy Einhorn/Putnam,The Help,5b4aa4ead3089013507dbf07,2011-09-10,2011-09-25,m,9,108,24.95,Women
1451,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Kathryn,Stockett,A young white woman and two black maids in 196...,Amy Einhorn/Putnam,The Help,5b4aa4ead3089013507dbeef,2011-09-03,2011-09-18,i,8,107,24.95,Women
1440,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Kathryn,Stockett,A young white woman and two black maids in 196...,Amy Einhorn/Putnam,The Help,5b4aa4ead3089013507dbeda,2011-08-27,2011-09-11,h,4,106,24.95,Women
1428,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Kathryn,Stockett,A young white woman and two black maids in 196...,Amy Einhorn/Putnam,The Help,5b4aa4ead3089013507dbec2,2011-08-20,2011-09-04,d,11,105,24.95,Women
1424,http://www.amazon.com/The-Help-Kathryn-Stocket...,Kathryn Stockett,Kathryn,Stockett,A young white woman and two black maids in 196...,Amy Einhorn/Putnam,The Help,5b4aa4ead3089013507dbeb5,2011-08-13,2011-08-28,k,0,104,24.95,Women